.customIconSize {
    font-size: 50px;
    height: 50px;
    width: 50px;
}

.register-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.example-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}
